body {
    font-family: Arial, sans-serif;
    background: linear-gradient(to bottom right, #FFEFBA, #FFFFFF);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.quiz-container {
    width: 60%;
    max-width: 600px;
    background: #f9f9f9;
    border-radius: 10px;
    padding: 20px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
}

#question-container {
    margin-bottom: 20px;
}

.btn-grid label {
    margin: 10px 0;
    display: block;
}

.controls {
    display: flex;
    justify-content: space-between;
}

button {
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    background-color: #4CAF50;
    color: white;
    cursor: pointer;
}

button:hover {
    background-color: #45a049;
}

#result-container {
    text-align: center;
}

#score {
    font-size: 24px;
    margin-bottom: 20px;
}
